


<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<h2>Welcome <%= @user.name %>!</h2>
<p><a href="/users/<%= @user.id %>/edit">Edit Profile</a></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Secrets <button class="btn btn-default"><a href="/secrets">More secrets</a></button></h3>
  </div>
  <% @secrets.each do |secret| %>
  <div class="panel-body">
    <%= secret.content %> | <%= secret.likes.count %> likes
    <form action="/secrets/<%= secret.id %>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input name="_method" value="delete" type="hidden">
      <button class="btn btn-default">Delete</button>
    </form>
  </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Secret</h3>
  </div>
  <div class="panel-body">
      <form action='/secrets' method="post" class="form-horizontal">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="form-group">
        <label class="col-sm-2 control-label">Secret</label>
        <div class="col-sm-10">
        <input type="text" name="new_secret" class="form-control">
        </div>
        </div>
        <button class="btn btn-default" type="submit">Create Secret</button>
      </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Secrets You've Liked</h3>
  </div>
  <div class="panel-body">
      <% if @secrets_liked %>
      <% @secrets_liked.each do |secrets| %>
      <ul>
      <li><%= secrets.content %> -- <small> <%= secrets.likes.count %> likes</small> </li>
      </ul>
      <% end %>
      <% end %>
  </div>
</div>

</div>
<div class="col-md-2"></div>
</div>
