<h1>Secrets</h1>
<table class="table">

<thead>

    <tr>
    <th>Secrets</th>
    <th>Likes</th>
    <th>Action</th>
    </tr>
</thead>
<tbody>
    <% @secrets.each do |secret| %>
  <tr>

  <td><%= secret.content %></td>
  <td><%= secret.likes.count %> likes</td>
  <td><% if secret.users_liked.include?(current_user) %>
    <form action='/likes/<%= secret.find_like_id current_user%>' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='submit' class="btn btn-default" value="Unlike">
    </form>
    <% else %>
      <% if current_user == secret.user %>
        <form action="/secrets/<%= secret.id %>" method='post'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' class="btn btn-default" value="Delete">
        </form>
        <% else %>
        <form action='/likes' method='post'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='secret_id' value='<%= secret.id %>'>
          <input type='submit' class="btn btn-default" value="Like">
        </form>
        <% end %>
  <% end %>



  </td>
<% end %>
</tr>
</tbody>
</table>
